//

@import 'partials/vars';
@import 'partials/mixins';
@import 'partials/global';
@import 'partials/utils';
@import 'partials/header';
@import 'partials/main';
@import 'partials/icon';
@import 'partials/footer';




