* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  min-width: 800px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

.container {
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 80px;
}

header nav ul {
  display: flex;
}

header nav li {
  display: flex;
}

header nav a {
  padding: 0 10px;
  color: black;
  line-height: 110px;
  text-transform: uppercase;
  font-size: 0.8rem;
}

header nav a:hover,
header nav a.active {
  color: #0282f9;
  border-bottom: 3px solid #0282f9;
}

main {
  background-color: #1c1c1c;
  text-align: center;
}

main .jumbotron {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position: initial;
  background-size: cover;
}

main .card-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 40px 0;
}

main .card-container .btn {
  position: absolute;
  top: -15px;
  left: 0;
  padding: 8px 13px;
  border-radius: 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #0282f9;
}

main .btn-load {
  padding: 8px 13px;
  border-radius: 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color: #0282f9;
  padding: 10px 50px;
  margin: 15px 0;
}

main .card {
  flex-basis: calc(16.6666666667% - 20px);
  height: 250px;
  overflow: hidden;
  margin: 0 10px;
  color: white;
  cursor: pointer;
}

main .card .container-img {
  height: 70%;
  overflow: hidden;
}

main .card h3 {
  margin-top: 15px;
  font-size: 1rem;
}

#icon-box {
  height: 120px;
  background-color: #0282f9;
}

#icon-box ul {
  display: flex;
  align-items: center;
}

#icon-box ul li {
  display: flex;
  align-items: center;
  flex-basis: 20%;
  height: 50%;
  padding: 0 20px;
}

#icon-box ul img {
  height: 45px;
  max-width: 40px;
}

#icon-box ul a {
  font-size: 0.9rem;
  margin-left: 15px;
  text-transform: uppercase;
  color: white;
}

footer {
  height: 400px;
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
}

footer .container.footer-main {
  height: calc(100% - 80px);
}

footer .container.footer-main .cols {
  float: left;
  width: 50%;
  height: 100%;
}

footer .container.footer-main .cols.link-cols {
  padding: 20px 0;
}

footer .container.footer-main .cols.link-cols .list-link {
  float: left;
  width: calc(33.3333333333% - 30px);
}

footer .container.footer-main .cols.link-cols .list-link h3 {
  color: white;
  padding: 5px 0;
}

footer .container.footer-main .cols.link-cols .list-link li {
  padding-top: 5px;
}

footer .container.footer-main .cols.link-cols .list-link a {
  color: #70706e;
  font-size: 0.9rem;
}

footer .container.footer-main .cols.image {
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-position: center;
  background-size: cover;
}

footer .footer-bottom {
  height: 80px;
  width: 100%;
  background-color: #303030;
}

footer .footer-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-bottom .container .btn {
  padding: 8px 13px;
  border-radius: 0px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #0282f9;
  background-color: transparent;
}

footer .footer-bottom .container .social {
  display: flex;
  align-items: center;
  color: #0282f9;
}

footer .footer-bottom .container .social img {
  padding: 0 10px;
}

