header{
    height: 120px;
    @include header-menu();
    .logo img{
    width: 80px;
    }
    nav{
        ul{
        display: flex;
        }
        li{
        display: flex;       
        }
        a{
        padding: 0 10px ;
        color: black;
        line-height: 110px;
        text-transform: uppercase;
        font-size: .8rem;
        &:hover,
        &.active{
            color: $brand-color;
            border-bottom: 3px solid $brand-color;
            }
        }
    }
}