#icon-box{
    height: 120px;
    background-color: $brand-color;
    ul{
        display: flex;
        align-items: center;
        li{
            display: flex;
            align-items: center;
            flex-basis: calc(100% / 5);
            height: 50%;
            padding: 0 20px;
        }
        img{
        height: 45px;
        max-width: 40px;
        }
        a{
        font-size: .9rem;
        margin-left: 15px;    
        text-transform: uppercase;
        color: white;
        }
    }
    
}